*{
	padding: 0px;
	margin: 0px;
	font-family: Arial;
	color: white;
}

html, body{
	background: url(../img/bg.png) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

a{
	text-decoration: none;
	display: inline-block;
}
#deband{
	text-align: center;
}

.imagebox{
	width: 260px;
	height: 280px;
	display: inline-block;
	vertical-align: top;
	margin: 0px 20px 0px 20px;
}

#imagecenter{
	width: 100%;
	text-align: center;
}

#navbar{
	width: 80%;
	height: 40px;
	text-align: center;
	margin: 0 auto;
	padding: 25px 0px 0px 0px;
}

#navbar li{
	width: 120px;
	height: 40px;
	display: inline-block;
	margin: 0px 35px 0px 35px;
	line-height: 40px;
	font-size: 20px;
	border: 2px solid white;
}


#content{
	width: 80%;
	height: auto;
	padding-top: 140px;
	margin: 0 auto;
}

h1{
	font-size: 60px;
	text-align: center;
}

#line, #line1{
	width: 60%;
	height: 5px;
	background: white;
	margin: 0 auto;
}

#welkomtext{
	margin: 100px 0px 0px 0px;
	width: 100%;
	height: auto;
	text-align: center;
	vertical-align: top;
}

.inlineblock{
	display: inline-block;
	margin: 0px 30px 0px 30px;
}

#imagehomepage{
	width: 150px; 
	height: 150px;
}

#grid{
	width: 90%;
	height: auto;
	margin: 0 auto;
    text-align: center;
}

.musicbox{
	margin-top: 50px;
	margin-left: 30px;
}

#recentieform{
	margin: 0 auto;
	padding: 20px 0px 20px 0px;
	text-align: center;
}

#boekingsform{
	margin: 0 auto;
	padding: 20px 0px 20px 0px;
	vertical-align: top;
}

#boekingsform input{
	color: black;
	padding: 5px;
	font-size: 15px;
}

#rightblock textarea{
	margin: 10px 0px 0px 0px;
	width: 160px;
	height: 150px;
	color: black;
	padding: 3px;
	font-size: 14px;

}

#rightblock{
	float: right;
	vertical-align: top;
	width: 300px;
	margin-right: 200px;
}
#rightblock button{
	color: black;
	width: 170px;
	padding: 5px;
	margin: 10px 0px 0px 80px;
}

#leftblock{
	float: left;
    vertical-align: top;
    width: 300px;
    margin-left: 200px;
}

#radiobttn{
	width: 100%;
	height: auto;
	text-align: right;
}

.urenbutton{
	margin: 5px;
	text-align: center;
}
.spanm{ 
	width: 70px;
	float: left;
	margin: 5px;
}
.tbm{
	margin: 5px;
}
#recentieform input{
	color: black;
	padding: 5px;
	font-size: 15px;
}
#recentieform textarea{
	margin: 10px 0px 0px 0px;
	width: 400px;
	height: 200px;
	color: black;
	padding: 3px;
	font-size: 14px;
}

#recentieform button{
	width: 150px;
	height: 40px;
	color: black;
}

.results{
	width: 60%;
	height: auto;
	margin: 0 auto;
}

.result{
	width: 100%;
	height: 70px;
	border: 2px solid white;
	margin: 50px 0px 0px 0px;
	padding: 5px;
	font-size: 17px;
	overflow-wrap: break-word;
}

.result .right{
	float: right;
}

.result .left{
	float: left !important;
}

#contactp{
	margin: 20px 0px 20px 20px;
	text-align: left;
}

#questionform{
	margin: 0 auto;
	text-align: center;
	height: auto;
	padding: 20px 0px 20px 0px;
} 

#questionform h1{
	font-size: 20px;
}	

#questionform textarea{
	width: 300px;
	height: 200px;
	color: black;
	margin-top: 10px;
}

#questionform button{
	width: 150px;
	height: 40px;
	color: black;
	font-size: 17px;
}

#contactform{
	margin-top: 30px;
	
}

#contactform button{
	width: 100px;
	font-size: 15px;
	height: 30px;
	color: white;
	background: none;
	border: 2px solid white;
}

#contactform input, textarea{
	width: 250px;
	color: black;
}

#float-r{
	float: right;
	width: 300px;
	margin: 15px 200px 15px 0px;
}

#float-l{
	float: left;
	width: 300px;
	margin: 15px 0px 15px 200px
}







